html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  /* text-decoration: none; */
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

@font-face {
  font-family: "Recoleta Bold";
  src: local('Recoleta Bold'), local('Recoleta Bold'),
  url('/fonts/Recoleta/Recoleta-Bold.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}